[submodule "docs/doxygen/awesome-css"]
	path = docs/doxygen/awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "ecs"]
	path = lib/ecs
	url = git@github.com:Sebabacou-R-type-2027/ECS.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
