# Build files
/build
/vcpkg_installed

# User-specific files
.idea
/.cache

# Executables
r-type_client
r-type_server

# Generated documentation
/docs/doxygen/html

# Miscellaneous
clients.csv

vcpkg

.vscode/
