# Build files
/build
/vcpkg_installed

# User-specific files
.idea

# Executables
r-type_client
r-type_server

# Miscellaneous
clients.csv

# Ignore the CMakeLists.txt only for me
CMakeLists.txt

# Ignore the .gitignore file
.gitignore
CMakeLists.txt
.gitignore
